.container {
  display: flex;
  flex-direction: column;
  margin-top: 150px;
  padding: 0 150px;

  margin-bottom: 100px;
}

.searchbar {
  float: right;
  padding: 6px;
  border: 2px solid silver;
  margin-top: 8px;
  margin-right: 16px;
  width: 450px;
  font-size: 17px;
  border-radius: 50px;
}

.dropdown {
  width: 300px;
  border-bottom: 2px solid silver;
  border-top: none;
  border-left: none;
  border-right: none;
  height: 25px;
  margin-left: 10px;
  background-color: #f7f7f7;
}

.searchCategory {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}


.showProducts{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}




@media (max-width: 1200px) {
  .container {
    padding: 15px 80px;
    margin-top: 110px;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 15px 40px;
  }
}

@media (max-width: 555px) {
  .container {
    justify-content: center;
    padding: 15px 10px;
  }
}
